__pycache__/
*.py[cod]
*$py.class
*.so

.env
.env.*
*.env
.venv/
venv/
env/
.python-version

build/
dist/
.eggs/


.pytest_cache/
.coverage*
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.ipynb_checkpoints/


*.log
logs/

.vscode/
.idea/
*.code-workspace
*.swp
*.swo

.DS_Store
Thumbs.db


.env
.env.*
*.env


#chromadb_store/

data/chat_history.txt
data/*.sqlite*
**/chroma.sqlite3

data/book_summaries_dict.json

public/generated/
tmp/

node_modules/
.cache/
dist/
*.map